<%for(var i = 0; i < articles.length; i++){%>
	<% var article = articles[i]; %>
	<article class="<%= (i == 0 ? 'lead-item' : '') %>">
		<a href="<%= article.url %>">
			<div class="image">
				<% 
				var origin = '';

				if(article.image){
					origin = article.image.origin;
				}

				%>
				<img src="<%= origin %>" alt="" />
			</div>
			<h3><%= article.title %></h3>
		</a>
		<% var 	now = new Date(),
				published = new Date(article.published),
				hours = Math.floor((now.getTime() - published.getTime()) / (1000 * 60 * 60)),
				publishedClass = hours < 1 ? 'new' : 'published',
				publishedText = hours < 1 ? 'New' : hours + ' ' + (hours == 1 ? 'hour ago' : 'hours ago');
		%>
		<p class="<%= publishedClass %>"><%= publishedText %></p>
		<p><%= article.description %></p>
	</article>
<%}%>
