<h2>Local news</h2>
<%for(var i = 0; i < articles.length; i++){%>
	<% var article = articles[i]; %>
	<article class="<%= (i == 0 ? 'lead-item' : '') %>">
		<a href="<%= article.url %>">
			<div class="image">
				<% 
				var origin = '';

				if(article.full_data.image){
					origin = article.full_data.image.origin;
				}

				%>
				<img src="<%= origin %>" alt="" />
			</div>
			<h3><%= article.full_data.title %></h3>
		</a>
		<p><%= article.full_data.intro %></p>
	</article>
<%}%>
